{% load static %}
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    LOGO
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Brand Name
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li id="sidebar_posts" class="sidebar_dropdown_trigger {% if 'icons' in segment %} active {% endif %}">
                    <a href="/posts">
                        <i class="tim-icons icon-atom"></i>
                        <p>Posts</p>
                    </a>
                </li>
                <!-- <div id="sidebar_posts"  class="sidebar_dropdown_content">
                    <p>I am the dropdown</p>
                </div> -->
                <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/profile">
                        <i class="tim-icons icon-atom"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script>
windows.document.addEventListener("ready", ()=>{
El_sidebarDropdownContent = document.querySelector(".sidebar_dropdown_content").style.display = "none"
El_sidebarDropdownTrigger = document.querySelector(".sidebar_dropdown_trigger");
El_sidebarDropdownTrigger.addEventListener("focus",()=>{
    id = this.id;
    El_sidebarDropdownContent = document.querySelector("#{id}").style.display = "block"
})
})


</script>
