{% load static %}
{% load headerdata %}
{% headerdata request as headerdatas %}

<div class="" style="width:100%">
  <div class="card card-user">
    <div class="card-body">
        <p class="card-text">
        <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
                <img class="avatar" src="{% static headerdatas.profile.image %}" alt="avatar">
                <h5 class="title">{{ request.username }}</h5>
            </a>
            <p class="description">
                "Quote of the day"
            </p>
        </div>
        </p>
        <div class="card-description">
            {{ header.profile.details }}
        </div>
    </div>
    <div class="card-footer">
        <div class="button-container">
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
            </button>
        </div>
    </div>
</div>
</div>