{% extends "layouts/base-frontend.html" %}

{% block title %} Error 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }</style>
{% endblock stylesheets %}

{% block content %}

<main class="content" role="main">

    <section class="jumbotron text-center">
      {% include 'includes/slider.html' %}
    </section>
  
    <div class="album py-5 bg-light">
     {% include 'includes/postlist.html' %}
    </div>
  
  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
