{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header" style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
                    <div>
                        <h4 class="card-title"> List of all Posts Made</h4>
                        <p class="category"> Here is a subtitle for this table</p>
                    </div>
                    <div>
                        <a href="/posts/create"><button class="btn btn-fill btn-primary" >Add</button></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Brief Content
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Sub Category
                                    </th>
                                    <th>
                                        Created At
                                    </th>
                                    <th>
                                        Updated At
                                    </th>
                                    <th class="text-center">
                                        View Button
                                    </th>
                                    <th class="text-center">
                                        Update Button
                                    </th>
                                    <th class="text-center">
                                        Delete Button
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if post > 0 %}
                                {% for posts in post %}
                                <tr>
                                    <td>
                                        {{ posts.title }}
                                    </td>
                                    <td>
                                        {{ posts.content|truncatechars:150 }}
                                    </td>
                                    <td>
                                        {{ posts.categoryId }}
                                    </td>
                                    <td>
                                        {{ posts.subCategoryId }}
                                    </td>
                                    <td>
                                        {{ posts.createdAt }}
                                    </td>
                                    <td>
                                        {{ posts.updatedAt }}
                                    </td>
                                    <td class="text-center">
                                        <a href="/posts/{{  posts.id  }}"> <button> View</button> </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="/posts/{{  posts.id  }}/update"> <button> Update</button> </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="/posts/{{  posts.id  }}/delete"> <button> Delete</button> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}