{% extends "layouts/base-two-side.html" %}

{% block title %} Create Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="" style="width:100%">
  <div class="card">
    <div class="card-header">
      <h5 class="title">Create Profile</h5>
      <h6 class="card-category">
        {% if alert %}
            <span class="text-danger">{{ alert | safe }}</span>
        {% else %}
            <span>
                please enter your info
            </span>
        {% endif %}  
    </h6>   
    </div>
    <div class="card-body">
      <form action="/profile/create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-5 pr-md-1">
            <div class="form-group">
              <label>UserId (disabled)</label>
              <input type="text" name="userId" class="form-control" disabled placeholder="userId"
                value="{{  request.user.id  }}">
            </div>
          </div>
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <label>Username (disabled)</label>
              <input type="text" name="username" class="form-control" disabled placeholder="Username"
                value="{{  request.user.username  }}">
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address (disabled)</label>
              <input type="email" name="email" disabled class="form-control" placeholder="Email Address"
                value="{{request.user.email}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" name="firstName" placeholder="First Name" required value="{% if userprofile %}{{ usersprofile.firstName }}{% endif %}">
              <span class="text-danger">{{ form.firstName.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 px-md-1">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" name="lastName" class="form-control" placeholder="Last Name" required value="{% if userprofile %}{{usersprofile.lastName}}{% endif %}">
              <span class="text-danger">{{ form.lastName.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label>Picture</label>
              <input type="file" name="image" class="form-control-file" placeholder="Profile Pic" required value="{% if userprofile %}{{usersprofile.image}{% endif %}">
              <span class="text-danger">{{ form.image.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Date of Birth</label>
              <input type="date" name="dateOfBirth" class="form-control" required id="dateOfBirth" value="{% if userprofile %}{{usersprofile.dateOfBirth}}{% endif %}">
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control" id="gender" name="genderId">
                <option>select gender</option>
                {% if userprofile %}<option value="{{usersprofile.gender}}" selected>{usersprofile.gender}}</option>{% endif %}
                <option value="F">Female</option>
                <option value="M">Male</option>
              </select>
              <span class="text-danger">{{ form.gender.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input type="text" name="address" class="form-control" placeholder="Your Home Address" required value="{% if userprofile %}{{usersprofile.address}}{% endif %}">
              <span class="text-danger">{{ form.address.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>City</label>
              <input type="text" name="city" class="form-control" placeholder="City" required value="{% if userprofile %}{{usersprofile.city}}{% endif %}">
              <span class="text-danger">{{ form.city.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 px-md-1">
            <div class="form-group">
              <label>Country</label>
              <select class="form-control" id="country" name="country">
                <option>select country</option>
                <option value="{% if userprofile %}{{usersprofile.country}}{% endif %}" selected>{% if userprofile %}{{usersprofile.country}}{% endif %}</option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Aland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, Democratic Republic of the Congo</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and Mcdonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="XK">Kosovo</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libyan Arab Jamahiriya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="AN">Netherlands Antilles</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthelemy</option>
                <option value="SH">Saint Helena</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="CS">Serbia and Montenegro</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.s.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </select>
              <span class="text-danger">{{ form.country.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label>Postal Code/Zip Code</label>
              <input type="text" name="zipcode" class="form-control" required value="{% if userprofile %}{{usersprofile.zipcode}}{% endif %}" placeholder="ZIP Code">
              <span class="text-danger">{{ form.zipcode.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>About Me</label>
              <textarea rows="4" name="details" cols="80" class="form-control"
                placeholder="Here can be your description" value="{% if userprofile %}{{usersprofile.details}}{% endif %}"></textarea>
                <span class="text-danger">{{ form.details.errors }}</span>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                Google Maps
              </div>
              <div class="card-body">
                <div id="map" class="map"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="Continent">Continent </label>
            <input type="text"  required name="region" id="lng" value="{% if userprofile %}{{usersprofile.region}{% endif %}">
            <span class="text-danger">{{ form.region.errors }}</span>
        </div>
          <div class="col-md-4">
            <label for="lat">latitude (disable)</label>
            <input type="text" disabled name="latitude" id="lat" value="{% if userprofile %}{{usersprofile.latitude}}{% endif %}">
            <span class="text-danger">{{ form.latitude.errors }}</span>
          </div>
          <div class="col-md-4">
            <label for="lng">longitude (disable)</label>
            <input type="text" disabled name="longitude" id="lng" value="{% if userprofile %}{{usersprofile.longitude}}{% endif %}">
            <span class="text-danger">{{ form.longitude.errors }}</span>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
      </form>
    </div>

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
    demo.initGoogleMaps();
    if (pos > 0) {
      document.getElementById("lat").value = pos.lat;
      document.getElementById("lng").value = pos.lng;
    };

  });
</script>

{% endblock javascripts %}