{% extends "layouts/base-two-side.html" %}

{% block title %} Create Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="" style="width:100%">
  <div class="card">
    <div class="card-header">
      <h5 class="title">Create Profile</h5>
      <h6 class="card-category">
        {% if alert %}
        <span class="text-danger">{{ alert | safe }}</span>
        {% else %}
        <span>
          Please enter your info
        </span>
        {% endif %}
      </h6>
    </div>
    <div class="card-body">
      <form action="/profile/create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>First Name</label>
              {{ form.firstName }}
              <span class="text-danger">{{ form.firstName.errors }}</span>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Last Name</label>
              {{ form.lastName }}
              <span class="text-danger">{{ form.lastName.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Picture</label>
              {{ form.image }}
              <span class="text-danger">{{ form.image.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Date of Birth</label>
              {{ form.dateOfBirth }}
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Gender</label>
              {{ form.gender }}
              <span class="text-danger">{{ form.gender.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              {{ form.address }}
              <span class="text-danger">{{ form.address.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>City</label>
              {{ form.city }}
              <span class="text-danger">{{ form.city.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 px-md-1">
            <div class="form-group">
              <label>Country</label>
              {{ form.country }}
              <span class="text-danger">{{ form.country.errors }}</span>
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label>Postal Code/Zip Code</label>
              {{ form.zipcode }}
              <span class="text-danger">{{ form.zipcode.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button title="click to set your location" type="button" id="locationButton"
              class="btn btn-fill btn-primary">
              Location Button
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="Continent">State </label>
            <input type="text" class="form-control" required name="region" placeholder="State"
              value="{% if usersprofile %}{{usersprofile.region}{% endif %}">
            <span class="text-danger">{{ form.region.errors }}</span>
          </div>
          <div class="col-md-4">
            <label for="lat">Latitude (readonly Dynamic)</label>
            {{ form.latitude }}
            <span class="text-danger">{{ form.latitude.errors }}</span>
          </div>
          <div class="col-md-4">
            <label for="lng">Longitude (readonly Dynamic)</label>
            {{ form.longitude }}
            <span class="text-danger">{{ form.longitude.errors }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>About Me</label>
              {{ form.details }}
              <span class="text-danger">{{ form.details.errors }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input name="submit" value="submit" type="submit" id="submit" class="btn btn-fill btn-primary">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {

    var locationButton = document.getElementById("locationButton");
    locationButton.addEventListener("click", () => {
      // Try HTML5 geolocation.
      var latElement = document.getElementById("id_latitude");
      var longElement = document.getElementById("id_longitude");

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            latElement.removeAttribute("readonly");
            longElement.removeAttribute("readonly");
            latElement.value = pos.lat;
            longElement.value = pos.lng;
            latElement.setAttribute("readonly");
            longElement.setAttribute("readonly");
            alert("Location found.");
          },
          () => {
            handleLocationError(true);
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false);
      }
    });

    var handleLocationError = (browserHasGeolocation) => {
      browserHasGeolocation
        ? alert("The Geolocation service failed.")
        : alert("Error: Your browser doesn't support geolocation.")
    };
  });
</script>

{% endblock javascripts %}