{% extends "layouts/base-two-side.html" %}

{% block title %} {% if usersprofile %}{{ usersprofile.firstName }} 
{{  usersprofile.lastName  }}{%  endif  %} {%  endblock  %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="" style="width:100%">
  <div class="card">
    <div class="card-header">
      <h5 class="title">{% if usersprofile %}{{ usersprofile.firstName }} {{
        usersprofile.lastName }}{% endif %}</h5>
      <h6 class="card-category">
        {% if alert %}
        <span class="text-danger">{{ alert | safe }}</span>
        {% endif %}
      </h6>

      <div class="card-body">

        <div class="row" id="profilebtn">
          <ul>
            <li><a href="/profile/{{request.user.id}}/update">
              <button type="button" class="btn-primary"> Edith Profile</button></a>
          </li>
            <li><a href="/interests"><button type="button" class="btn-primary"> Interest </button></a></li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li>
              <label>UserId (disabled): </label>
              <span>{{ userId }}</span>
            </li>
            <li>
              <label>Username (disabled): </label>
              <span>{{request.user.username}}</span>
            </li>
            <li>
              <label>Email address (disabled): </label>
              <span>{{request.user.email}}</span>
            </li>
            <li>
              <label>First Name: </label>
              <span>{% if usersprofile %}{{ usersprofile.firstName }}{% endif %}</span>
            </li>
            <li>
              <label>Last Name: </label>
              <span>{% if usersprofile %}{{usersprofile.lastName}}{% endif %}</span>
            </li>
            <li>
              <label>Marital Status: </label>
              <span>{% if usersprofile %}{{usersprofile.maritalStatus}}{% endif %}</span>
            </li>
            <li>
              <label>Date of Birth: </label>
              <span>{% if usersprofile %}{{usersprofile.dateOfBirth}}{% endif %}</span>
            </li>
            <li>
              <label>Gender: </label>
              <span>{% if usersprofile %}{% if genders.id == usersprofile.genderId %} {{ gender.name }} {% endif %}{%
                endif %}</span>
            </li>
            <li>
              <label>Address: </label>
              <span>{% if usersprofile %}{{usersprofile.address}}{% endif %}</span>
            </li>
            <li>
              <label>City: </label>
              <span>{% if usersprofile %}{{usersprofile.city}}{% endif %}</span>
            </li>
            <li>
              <label>Country: </label>
              <span>{% if usersprofile %}{{usersprofile.country}}{% endif %}</span>
            </li>
            <li>
              <label>Postal Code/Zip Code: </label>
              <span>{% if usersprofile %}{{usersprofile.zipcode}}{% endif %}</span>
            </li>
            <li>
              <label>About Me: </label>
              <Span>{% if usersprofile %}{{usersprofile.details}}{% endif %}</span>
            </li>
            <li>
              <div class="card card-plain">
                <div class="card-header">
                  Google Maps
                </div>
                <div class="card-body">
                  <div id="map" class="map"></div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="form-group">
                    <label for="lat">Latitude (disable): </label>
                    <input type="text" disabled name="latitude" id="lat"
                      value="{% if usersprofile %}{{usersprofile.latitude}}{% endif %}">
                  </div>
                  <div class="form-group">
                    <label for="lng">Longitude (disable): </label>
                    <input type="text" disabled name="longitude" id="lng"
                      value="{% if usersprofile %}{{usersprofile.longitude}}{% endif %}">
                  </div>
                </div>
              </div>
          </ul>
        </div>

      </div>



      {% endblock content %}

      <!-- Specific Page JS goes HERE  -->
      {% block javascripts %}

      <script>
        $(document).ready(function () {
          // Javascript method's body can be found in assets/js/demos.js
          demo.initDashboardPageCharts();
          demo.initGoogleMaps();
          if (pos > 0) {
            document.getElementById("lat").value = pos.lat;
            document.getElementById("lng").value = pos.lng;
          };

        });
      </script>

      {% endblock javascripts %}