{% extends "layouts/base-two-side.html" %}

{% block title %} 
{% if usersprofile %}
{{ usersprofile.firstName }} 
{{ usersprofile.lastName }}
{%  endif  %} 
{%  endblock  %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}


<div class="" style="width:100%">
  <div class="card">
    <div class="card-header">
      <h5 class="title">
        {% if usersprofile %}
        {{ usersprofile.firstName }} 
        {{ usersprofile.lastName }}
        {% endif %}</h5>
      <h6 class="card-category">
        {% if alert %}
        <span class="text-danger">{{ alert | safe }}</span>
        {% endif %}
      </h6>

      <div class="card-body">

        <div class="row" id="profilebtn">
          <ul>
            <li><a href="/profile/{{request.user.id}}/update">
              <button type="button" class="btn-primary"> show Profile</button></a>
          </li>
            <li><a href="/interests"><button type="button" class="btn-primary"> Interest </button></a></li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li>
              <p>UserId (readonly):
                <span>{{ request.user.id }}</span>
              </p>
            </li>
            <li>
              <p>Username (readonly):
                <span>{{ request.user.username }}</span>
              </p>
            </li>
            <li>
              <p>Email address (readonly):
                <span>{{ request.user.email }}</span>
              </p>
            </li>
            {% if usersprofile %}
            <li>
              <p>First Name:
                <span>{{ usersprofile.firstName }} </span>
              </p>
            </li>
            <li>
              <p>Last Name:
                <span>{{ usersprofile.lastName }} </span>
              </p>
            </li>
            <li>
              <p>Marital Status:
                <span>{{ usersprofile.maritalStatus }}</span>
              </p>
            </li>
            <li>
              <p>Date of Birth:
                <span>{{ usersprofile.dateOfBirth }} </span>
              </p>
            </li>
            <li>
              <p>Gender:
                <span>{{ usersprofile.genderId }} 
                  </span>
              </p>
            </li>
            <li>
              <p>Address:
                <span>{{ usersprofile.address }} </span>
              </p>
            </li>
            <li>
              <p>City:
                <span>{{ usersprofile.city }} </span>
              </p>
            </li>
            <li>
              <p>Country:
                <span>{{ usersprofile.country }} </span>
              </p>
            </li>
            <li>
              <p>Postal Code/Zip Code:
                <span>{{ usersprofile.zipcode }} </span>
              </p>
            </li>
            <li>
              <p>About Me:
                <Span>{{ usersprofile.details }} </span>
              </p>
            </li>
            <li>
              <p for="lat">Latitude (readonly):
                <span>{{ usersprofile.latitude }}</span>
              </p>
            </li>
            <li>
              <p for="lng">Longitude (readonly):
                <span>{{ usersprofile.longitude }} </span>
              </p>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>



      {% endblock content %}

      <!-- Specific Page JS goes HERE  -->
      {% block javascripts %}

      <script>
        $(document).ready(function () {
          // Javascript method's body can be found in assets/js/demos.js
          demo.initDashboardPageCharts();
          demo.initGoogleMaps();
          if (pos > 0) {
            document.getElementById("lat").value = pos.lat;
            document.getElementById("lng").value = pos.lng;
          };

        });
      </script>

      {% endblock javascripts %}