{% load static %} {% load meta %}
<!DOCTYPE html>
<html lang="en">

<head {% meta_namespaces %}>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% include "meta/meta.html" %}
    <title>
        Blog- {% block title %}{% endblock %} | {{ settings.APP_NAME }}
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/custom-boostrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/theme-switcher.css' %}" rel="stylesheet" />
    <!-- CSS Just for custom purpose, don't include it in your project -->
    <link href="{% static 'custom/custom.css' %}" rel="stylesheet" />

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="" style="font-size: medium !important;">

    <div class="wrapper">

        {% include 'includes/navigation-fullscreen.html' %}

        <div class="container-fluid">

            {% block content %}{% endblock content %}
            {% include 'includes/fixed-plugin.html' %}
            {% include 'includes/footer-fullscreen.html' %}

        </div>

    </div>



    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>

</html>